<div class='row'>
  <div class='span12'>
    <h1>LPROC</h1>
  </div>
</div>

<div class='row'>
  <div class='span6 editor-panel'>
    <!-- <textarea class='js-textentry'></textarea> -->
    <div id='editor'></div>

    <div class='buttons'>
      <div class="form-horizontal">
        <button class='js-load btn btn-success'>Update</button>
        <button class='js-send btn btn-primary'>Update and Push</button>
        <select class='js-template-choose'>
          <option>Select Template</option>
        </select>
      </div>

      <div class='row user-buttons'>
        <div class='span6 js-users'>
        </div>
      </div>
    </div>
  </div>

  <script>
    window.Editor = ace.edit("editor");
    // Editor.setTheme("ace/theme/twilight");
    Editor.getSession().setTabSize(2);
    Editor.getSession().setMode("ace/mode/java");
    Editor.getSession().setUseSoftTabs(true);
  </script>

  <div class='span6'>
    <canvas id='js-canvas' class='render'></canvas>
    <video autoplay id="videostream" style='display:none;'></video>
    <div class='js-chat messages'></div>
  </div>
</div>
