<div class='row presentation-panel'>
  <div class='span12'>
    <canvas id='js-canvas' class='presentation-render'></canvas>
    <video autoplay id="videostream" style='display:none;'></video>
    <button class='js-fullscreen-trigger'>Go Fullscreen</button>
  </div>

</div>

